* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-aside {
  background: #1395e1;
  display: flex;
  flex-direction: column;
  padding-bottom: 50%;
  position: fixed;
  /* height: 1; */
}

.buttons {
  display: flex;
  flex-direction: column;
  align-self:flex-start;
}

.container-aside h2 {
  margin-top: 24px;
  padding: 12px;
  color: #c5f9fe;
  font-family: Arial, Helvetica, sans-serif;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin: 0 auto;
}
