* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.button {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  align-self:flex-start;
  padding: 12px;
  margin: 8px;
  color: #c5f9fe;
  text-decoration: none;
}
