.container-inform {
  display: flex;
  margin: 0 auto;
  padding: 30px 60px;
  background: #fecb72;
  border-radius: 8px;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.35);
}

.container-inform h4 {
  margin-right: 8px;
  color: white;
  font-weight: 600;
}
